.brand{
    display: flex;
}

.brand div {
    flex:auto;
    max-width: 150px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.brand img {
    width: 80%;
    height: 30%;
    cursor: pointer;
}

.brand img:hover {
    transform: scale(1.3);
}

.brand p{

    letter-spacing: -0.01em;
    color: var(--color-text);

    margin-top: 2rem;
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 1000;
    font-size: 36px;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
}

.brand img:hover .p{
    font-size: 22px;
}