.input{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 2rem;
    position: absolute;
}

.input-button{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.input-button button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 2.5rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
}